<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <h3>Wilmslow Yoga</h3>
                <p>
                    A supportive space to explore yoga, build strength, and find
                    calm.
                </p>
                <div class="social-links">
                    <a
                        href="https://app.yogaalliance.org/teacherpublicprofile?id=003TR00001DloXiYAJ"
                    >
                        <img src="images/ya_logo_reg.png" alt="Yoga Alliance" />
                    </a>
                </div>
            </div>

            <div class="footer-col">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="index.html#home">Home</a></li>
                    <li><a href="index.html#about">About</a></li>
                    <li><a href="index.html#classes">Classes</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Stay Informed</h3>
                <p>
                    Subscribe to my instagram receive yoga tips, class updates,
                    and wellness inspiration.
                </p>
                <div class="social-links">
                    <a href="https://www.instagram.com/laura_mccolgan/?hl=en">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>&copy; 2025 Wilmslow Yoga. All rights reserved.</p>
        </div>
    </div>
</footer>
